<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ _page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ _page.meta() }}
    <link type="text/css" rel="stylesheet" href="/theme/custom/css/index.css">
    {{ _page.css() }}
    {{ _page.js('head') }}
    {{ _page.head() }}
</head>
<body>
