{% if pagination.pageCount > 1 %}
    <div class="Pagination">
        {% if pagination.previousUrl %}
            <a class="Pagination-item Pagination-item--previous" href="{{ pagination.previousUrl }}" title="Previous Page">&lt; Previous</a> |
        {% endif %}
        {% for page in pagination.pagesInRange %}
            {% if page.number != pagination.current %}
                <a class="Pagination-item" href="{{ page.url }}" title="Go to Page {{ page.number }}">{{ page.number }}</a>
            {% else %}
                <span class="Pagination-item Pagination-item--isActive">{{ page.number }}</span>
            {% endif %}
        {% endfor %}
        {% if pagination.nextUrl %}
            | <a class="Pagination-item Pagination-item--next" href="{{ pagination.nextUrl }}" title="Next Page">Next &gt;</a>
        {% endif %}
        {% if pagination.current > 1 %}
            {% set _page.title = _page.title ~ ' - Page ' %}
            {% set _page.title = _page.title ~ pagination.current %}
        {% endif %}
    </div>
{% endif %}
