<h1>Checkout</h1>

{% if shipping.form.errors %}
    <div class="FormError">
        <p>There was a problem. Please correct the issues below</p>
        <ul class="FormError-list">
            {% for error in shipping.form.errors %}
                <li class="FormError-listItem">{{ error.message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<ul class="List List--arrow">
    <li><a href="{{ shipping.urls.cart }}">Shopping Cart</a></li>
    <li class="u-weightBold">Shipping Address</li>
    <li>Billing &amp; Payment</li>
    <li>Confirmation</li>
    <li>Receipt</li>
</ul>

<h2>Shipping Address</h2>
<p><em>*</em> = required field </p>

{{ shipping.form.openTag }}

{% set fields.shipFirstName = 'First Name' %}
{% set fields.shipLastName = 'Last Name' %}
{% set fields.shipAddress = 'Address' %}
{% set fields.shipCity = 'City' %}
{% set fields.shipStateText = 'State' %}
{% set fields.shipZipCode = 'Zip Code' %}
{% set fields.shipCountry = 'Country' %}
{% set fields.shipPhone = 'Phone' %}
{% set fields.shipEmail = 'Email' %}

{% set formFields = [] %}
{% for key, label in fields %}
    {% set thisField = attribute(shipping.form.fields, key) %}
    {% set thisField.isRequired = true %}
    {% set thisField.label.text = label %}
    {% set formFields = formFields|merge([thisField])  %}
{% endfor %}

{% for field in formFields %}
    <div class="Grid Grid--withGutter u-margBottom2">
        <div class="Grid-cell u-size1of4">
            {% set field.label.class = field.label.class ~ ' FormLabel' %}
            {% if field.isRequired %}
                {% set field.required = true %}
                {% set field.label.text = field.label.text ~ ' <span class="FormRequired">*</span>' %}
            {% endif %}
            {{ field.label.tag }}
        </div>
        <div class="Grid-cell u-size3of4">
            {% if field.fieldType in ['email', 'text', 'url'] %}
                {% set field.class = field.class ~ ' TextInput u-sizeFull' %}
                {{ field.tag }}
            {% elseif field.fieldType == 'textarea' %}
                {% if field.size == 'small' %}
                    {% set field.rows = 2 %}
                {% elseif field.size == 'medium' %}
                    {% set field.rows = 5 %}
                {% elseif field.size == 'large' %}
                    {% set field.rows = 10 %}
                {% endif %}
                {% set field.class = field.class ~ ' TextInput u-sizeFull' %}
                {{ field.tag }}
            {% elseif field.fieldType == 'select' %}
                <div class="SelectField u-sizeFull">
                    {{ field.tag }}
                </div>
            {% else %}
                {{ field.tag|replace({"error": "is-invalid"}) }}
            {% endif %}
        </div>
    </div>
{% endfor %}

<div class="Grid Grid--withGutter u-margBottom2">
    <div class="Grid-cell u-size3of4 u-push1of4">
        <p><button type="submit" class="Button Button--lg">Continue &raquo;</button></p>
    </div>
</div>
{{ shipping.form.closeTag }}
