<h1>Checkout</h1>

{% if billing.form.errors %}
    <div class="FormError">
        <p>There was a problem. Please correct the issues below</p>
        <ul class="FormError-list">
            {% for error in billing.form.errors %}
                <li class="FormError-listItem">{{ error.message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<ul class="List List--arrow">
    <li><a href="{{ billing.urls.cart }}">Shopping Cart</a></li>
    <li><a href="{{ billing.urls.checkoutShipping }}">Shipping Address</a></li>
    <li class="u-weightBold">Billing &amp; Payment</li>
    <li>Confirmation</li>
    <li>Receipt</li>
</ul>


{{ billing.form.openTag }}

{% if billing.form.fields.shippingOptions.options|length > 0 %}
    <h2>Shipping Method</h2>
    {{ billing.form.fields.shippingOptions.tag }}
{% endif %}


<h2>Billing Information</h2>
<p><em>*</em> = required field </p>

{% set fields.billFirstName = 'First Name' %}
{% set fields.billLastName = 'Last Name' %}
{% set fields.billAddress = 'Address' %}
{% set fields.billCity = 'City' %}
{% set fields.billStateText = 'State' %}
{% set fields.billZipCode = 'Zip Code' %}
{% set fields.billCountry = 'Country' %}
{% set fields.billPhone = 'Phone' %}
{% set fields.billEmail = 'Email' %}

{% set formFields = [] %}
{% for key, label in fields %}
    {% set thisField = attribute(billing.form.fields, key) %}
    {% set thisField.isRequired = true %}
    {% set thisField.label.text = label %}
    {% set thisField.class = thisField.class ~ ' js-' ~ key %}
    {% set formFields = formFields|merge([thisField])  %}
{% endfor %}

<div class="Grid Grid--withGutter u-margBottom2">
    <div class="Grid-cell u-size3of4 u-push1of4">
        <label>
            <input type="checkbox" name="populateinfo" value="1" class="js-copyShipping">
            My billing information is the same as my shipping information
        </label>
    </div>
</div>
{% for field in formFields %}
    <div class="Grid Grid--withGutter u-margBottom2">
        <div class="Grid-cell u-size1of4">
            {% set field.label.class = field.label.class ~ ' FormLabel' %}
            {% if field.isRequired %}
                {% set field.required = true %}
                {% set field.label.text = field.label.text ~ ' <span class="FormRequired">*</span>' %}
            {% endif %}
            {{ field.label.tag }}
        </div>
        <div class="Grid-cell u-size3of4">
            {% if field.fieldType in ['email', 'text', 'url'] %}
                {% set field.class = field.class ~ ' TextInput u-sizeFull' %}
                {{ field.tag }}
            {% elseif field.fieldType == 'textarea' %}
                {% if field.size == 'small' %}
                    {% set field.rows = 2 %}
                {% elseif field.size == 'medium' %}
                    {% set field.rows = 5 %}
                {% elseif field.size == 'large' %}
                    {% set field.rows = 10 %}
                {% endif %}
                {% set field.class = field.class ~ ' TextInput u-sizeFull' %}
                {{ field.tag }}
            {% elseif field.fieldType == 'select' %}
                <div class="SelectField u-sizeFull">
                    {{ field.tag }}
                </div>
            {% else %}
                {{ field.tag|replace({"error": "is-invalid"}) }}
            {% endif %}
        </div>
    </div>
{% endfor %}

<h2>Payment Information</h2>

{% if billingf.form.fields.billMethod.options|length > 1 %}
    {# There is another billing method available besides "Credit Card" #}
    <div class="Grid Grid--withGutter u-margBottom2">
        <div class="Grid-cell u-size1of4">
            {% set billing.form.fields.billMethod.label.class = billing.form.fields.billMethod.label.class ~ ' FormLabel' %}
            {% set billing.form.fields.billMethod.label.text = 'Payment Method' ~ ' <span class="FormRequired">*</span>' %}
            {{ billing.form.fields.billMethod.label.tag }}
        </div>
        <div class="Grid-cell u-size3of4">
            <div class="SelectField u-sizeFull">
                {{ billing.form.fields.billMethod.tag }}
            </div>
        </div>
    </div>
{% endif %}

<div class="Grid Grid--withGutter u-margBottom2">
    <div class="Grid-cell u-size1of4">
        {% set billing.form.fields.billCreditCardType.label.class = billing.form.fields.billCreditCardType.label.class ~ ' FormLabel' %}
        {% set billing.form.fields.billCreditCardType.label.text = 'Credit Card Type' ~ ' <span class="FormRequired">*</span>' %}
        {{ billing.form.fields.billCreditCardType.label.tag }}
    </div>
    <div class="Grid-cell u-size3of4">
        <div class="SelectField u-sizeFull">
            {% if billing.form.fields.billCreditCardType.options|length == 0 %}
                {% set billing.form.fields.billCreditCardType.options = {'Visa': 'Visa', 'MasterCard': 'MasterCard'} %}
            {% endif %}
            {{ billing.form.fields.billCreditCardType.tag }}
        </div>
    </div>
</div>
<div class="Grid Grid--withGutter u-margBottom2">
    <div class="Grid-cell u-size1of4">
        {% set billing.form.fields.billCreditCardNumber.label.class = billing.form.fields.billCreditCardNumber.label.class ~ ' FormLabel' %}
        {% set billing.form.fields.billCreditCardNumber.label.text = 'Card Number' ~ ' <span class="FormRequired">*</span>' %}
        {{ billing.form.fields.billCreditCardNumber.label.tag }}
    </div>
    <div class="Grid-cell u-size3of4">
        {% set billing.form.fields.billCreditCardNumber.class = billing.form.fields.billCreditCardNumber.class ~ ' TextInput u-sizeFull' %}
        {{ billing.form.fields.billCreditCardNumber.tag }}
    </div>
</div>
<div class="Grid Grid--withGutter u-margBottom2">
    <div class="Grid-cell u-size1of4">
        {% set billing.form.fields.billCreditCardExpirationMonth.label.class = billing.form.fields.billCreditCardExpirationMonth.label.class ~ ' FormLabel' %}
        {% set billing.form.fields.billCreditCardExpirationMonth.label.text = 'Expiration' ~ ' <span class="FormRequired">*</span>' %}
        {{ billing.form.fields.billCreditCardExpirationMonth.label.tag }}
    </div>
    <div class="Grid-cell u-size3of4">
        {{ billing.form.fields.billCreditCardExpirationMonth.tag }}
        {{ billing.form.fields.billCreditCardExpirationYear.tag }}
    </div>
</div>
<div class="Grid Grid--withGutter u-margBottom2">
    <div class="Grid-cell u-size1of4">
        {% set billing.form.fields.billCreditCardCode.label.class = billing.form.fields.billCreditCardCode.label.class ~ ' FormLabel' %}
        {% set billing.form.fields.billCreditCardCode.label.text = 'Security Code' ~ ' <span class="FormRequired">*</span>' %}
        {{ billing.form.fields.billCreditCardCode.label.tag }}
    </div>
    <div class="Grid-cell u-size3of4">
        {% set billing.form.fields.billCreditCardCode.class = billing.form.fields.billCreditCardCode.class ~ ' TextInput u-size1of5' %}
        {{ billing.form.fields.billCreditCardCode.tag }} (3 or 4 digit code from the back of your credit card)
    </div>
</div>

<div class="Grid Grid--withGutter u-margBottom2">
    <div class="Grid-cell u-size3of4 u-push1of4">
        <p><button type="submit" class="Button Button--lg">Continue &raquo;</button></p>
    </div>
</div>
{{ billing.form.closeTag }}

{% inlinejs %}
    {# Assuming jQuery is already loaded on the page #}
    $('.js-copyShipping').click(function() {
        if (this.checked) {
            $('.js-billFirstName').val('{{ billing.shippingValues.firstName }}');
            $('.js-billLastName').val('{{ billing.shippingValues.lastName }}');
            $('.js-billAddress').val('{{ billing.shippingValues.address }}');
            $('.js-billCity').val('{{ billing.shippingValues.city }}');
            $('.js-billStateText').val('{{ billing.shippingValues.stateText }}');
            $('.js-billZipCode').val('{{ billing.shippingValues.zipCode }}');
            $('.js-billCountry').val('{{ billing.shippingValues.country }}');
            $('.js-billPhone').val('{{ billing.shippingValues.phone }}');
            $('.js-billEmail').val('{{ billing.shippingValues.email }}');
        }
    });
{% endinlinejs %}
